<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-family: 'Lobster', cursive;font-size: 28px;">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20%;">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <a href="{%url 'index'%}" style="cursor: pointer;"><i style="margin-right: 20px;cursor: pointer;font-size: 20px;" class="fas fa-home"></i></a>
    <a href="{% url 'profile' %}"><i style="margin-right: 20px;font-size: 20px;" class="fas fa-compass"></i></a>
    <a href="{%url 'index' %}"><i style="margin-right: 20px;font-size: 20px;" class="far fa-heart"></i></a>
    <a href="{% url 'profile' %}"><img style="border-radius:70px; width: 20px;height: 20px;margin-top: -15px;margin-right: 50px;" src="{{user_profile.image.url}}"></a>

  </nav>