<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><i class="fab fa-4x fa-instagram"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'profile'%}">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout" tabindex="-1" aria-disabled="true">logout </a>
            </li>
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results'%}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_user">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </ul>
        <span><img src="{{user.profile.profile_photo.url}}" alt="" style="border-radius: 50%; width:50px; height:50px; border-color: brown; border-width: 1px;"></span>
        <!--  -->
        {% endif %}

    </div>
</nav>
  <!-- <br>
  <br> -->
</body>
</html>



