{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <h4 class="user">{{profile.user.username}}</h4>
            <img src="{{profile.profile_photo.url}}" class="img-thumbnail img-responsive img-fluid" alt="" style="border-radius: 30%; width: 100px; height: 100px; border-color: aqua; ">
        </div>
        <div class="col-sm-6 col-md-6">
            <hr>
            <p>{{profile.bio}}</p>

        </div>

        <div class="col-sm-6 col-md-2">
            <a href="{%url 'edit'%}" class="btn btn-outline-info btn-sm">Edit your  Profile</a>
        </div>
    </div>
<h2> Photos </h2>
<hr>
<div class="row">
    {% for image in images %}
    <div class="col-sm-12 col-md-6 col-lg-3">
        <img src="{{image.image.url}}" alt="" class="img-thumbnail img-responsive img-fluid">
    </div>
    {% endfor %}
</div>


</div>

{% endblock %}