{% extends 'base.html'%}
{% block content %}

<header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="{{profile.image.url}}" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{profile.user.username}}</h1>

				<a href="{% url 'profile_edit' %}" class="btn profile-edit-btn">Edit Profile</a>

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{posts.count}}</span> posts</li>
					<!-- <li><span class="profile-stat-count">188</span> followers</li> -->
					<!-- <li><span class="profile-stat-count">206</span> following</li> -->
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name"></span> {{profile.profile_caption}}</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

            {% for post in posts %}
                <div class="gallery-item" tabindex="0">

				<img src="{{post.image.url}}" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>

				</div>

			</div>
            {% endfor %}
			</div>
		<!-- End of gallery -->

		<!-- <div class="loader"></div> -->
		{% if posts.count == 0 %}
			<p>You currenty don't have any posts</p>
		{% endif %}

	</div>
	<!-- End of container -->

</main>

{% endblock %}